In [1]:
import pandas as pd
import numpy as np
from logger import Logger

In [2]:
logger = Logger(show = True, html_output = True, config_file = "config.txt")

logger.log("Reading transactions file...")
df = pd.read_csv(logger.get_data_file(logger.config_dict['DATA_FILE']))
logger.log("Finish reading {} rows".format(df.shape[0]), show_time = True)

2019.05.08-23:01:44 Initialize the logger
2019.05.08-23:01:44 Create logs folder logs
2019.05.08-23:01:44 Create log file logs/2019-05-08_23_01_44_log0.html
2019.05.08-23:01:44 Create models folder models
2019.05.08-23:01:44 Create output folder output
2019.05.08-23:01:44 Create data folder data
2019.05.08-23:01:44 Read config file config.txt
[2019.05.08-23:01:44] Reading transactions file...
[2019.05.08-23:01:46] Finish reading 290382 rows [1.26s]

In [3]:
df.head()
crt_size = df.shape[0]

In [4]:
df['mail_id'] = df['mail_id'].str.replace('email','')
df.drop(df[df.mail_id == "NA"].index, inplace=True)
df['mail_id'] = pd.to_numeric(df['mail_id'])
logger.log("Dropping NA in email id {}".format(crt_size - df.shape[0]))
crt_size = df.shape[0]

df['ip_id']   = df['ip_id'].str.replace('ip','')
df.drop(df[df.ip_id == "NA"].index, inplace=True)
df['ip_id'] = pd.to_numeric(df['mail_id'])
logger.log("Dropping NA in ip id {}".format(crt_size - df.shape[0]))
crt_size = df.shape[0]

df['card_id'] = df['card_id'].str.replace('card','')
df.drop(df[df.card_id == "NA"].index, inplace=True)
df['card_id'] = pd.to_numeric(df['mail_id'])
logger.log("Dropping NA in card id {}".format(crt_size - df.shape[0]))
crt_size = df.shape[0]

[2019.05.08-23:01:46] Dropping NA in email id 366
[2019.05.08-23:01:47] Dropping NA in ip id 0
[2019.05.08-23:01:47] Dropping NA in card id 0

In [5]:
df.drop(df[df.simple_journal == "Refused"].index, inplace=True)
logger.log("Dropping REFUSED transaction {}".format(crt_size - df.shape[0]))
crt_size = df.shape[0]

[2019.05.08-23:01:47] Dropping REFUSED transaction 53318

In [6]:
logger.log("Number of NaNs per column:")
df.isna().sum()

[2019.05.08-23:01:47] Number of NaNs per column:

txid                                0
bookingdate                         0
issuercountrycode                   4
txvariantcode                       0
bin                                 0
amount                              0
currencycode                        0
shoppercountrycode                342
shopperinteraction                  0
simple_journal                      0
cardverificationcodesupplied    13194
cvcresponsecode                     0
creationdate                        0
accountcode                         0
mail_id                             0
ip_id                               0
card_id                             0
dtype: int64

In [7]:
logger.log("Few examples of NaNs rows:")
df[df.isna().any(axis=1)].head()

[2019.05.08-23:01:47] Few examples of NaNs rows:

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
25297,39506,2015-09-27 20:21:39,MX,mccredit,528843.0,61530.0,MXN,NaN,Ecommerce,Settled,True,0,2015-09-27 20:21:27,MexicoAccount,263004.0,263004.0,263004.0
25592,40058,2015-09-30 06:32:50,NaN,mc,520116.0,119940.0,MXN,MX,Ecommerce,Settled,True,0,2015-09-30 06:32:40,MexicoAccount,47407.0,47407.0,47407.0
27227,43731,2015-10-19 20:40:32,NaN,mc,520116.0,44800.0,MXN,MX,Ecommerce,Settled,True,0,2015-10-19 20:40:16,MexicoAccount,47407.0,47407.0,47407.0
27307,43927,2015-10-20 20:30:51,NaN,mc,520116.0,111920.0,MXN,MX,Ecommerce,Settled,True,0,2015-10-20 20:30:43,MexicoAccount,164167.0,164167.0,164167.0
31536,50220,2015-07-02 04:35:15,AU,mccredit,535316.0,11000.0,AUD,AU,Ecommerce,Settled,NaN,0,2015-07-01 03:45:57,APACAccount,267790.0,267790.0,267790.0

In [8]:
(df[df['cardverificationcodesupplied'].isna()].simple_journal == "Chargeback").sum()

0

In [9]:
df.dropna(axis = 0, inplace = True)
logger.log("Drop the other NaNs {}".format(crt_size - df.shape[0]))
crt_size = df.shape[0]

[2019.05.08-23:01:48] Drop the other NaNs 13526

In [10]:
logger.log("Currencies are {}".format(np.unique(df.currencycode.values)))

[2019.05.08-23:01:48] Currencies are ['AUD' 'GBP' 'MXN' 'NZD' 'SEK']

In [11]:
df['bookingdate']  = pd.to_datetime(df['bookingdate'])
df['creationdate'] = pd.to_datetime(df['creationdate'])
df = df.infer_objects()

In [12]:
df.dtypes

txid                                     int64
bookingdate                     datetime64[ns]
issuercountrycode                       object
txvariantcode                           object
bin                                    float64
amount                                 float64
currencycode                            object
shoppercountrycode                      object
shopperinteraction                      object
simple_journal                          object
cardverificationcodesupplied              bool
cvcresponsecode                          int64
creationdate                    datetime64[ns]
accountcode                             object
mail_id                                float64
ip_id                                  float64
card_id                                float64
dtype: object

In [13]:
df.creationdate.head()

0   2015-07-01 23:03:11
1   2015-07-02 04:50:55
2   2015-07-02 14:30:28
3   2015-07-03 07:53:37
4   2015-07-08 18:35:35
Name: creationdate, dtype: datetime64[ns]

In [14]:
df.sort_values('creationdate', inplace = True)

In [15]:
df.head()

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
58673,201445,2015-07-01 22:57:05,GB,visadebit,465944.0,5095.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:41,UKAccount,258032.0,258032.0,258032.0
58674,201446,2015-07-01 22:49:20,GB,visadebit,492181.0,4895.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:42,UKAccount,75334.0,75334.0,75334.0
58675,201447,2015-07-01 22:57:06,GB,visadebit,446238.0,4695.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:48,UKAccount,295389.0,295389.0,295389.0
58676,201449,2015-07-01 22:57:05,GB,visadebit,475130.0,5595.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:58,UKAccount,19248.0,19248.0,19248.0
58677,201450,2015-07-01 22:57:06,GB,visadebit,465902.0,6995.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:01:11,UKAccount,269209.0,269209.0,269209.0

In [16]:
df.tail()

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
58636,96128,2015-11-02 05:07:44,AU,visabusiness,455704.0,5050.0,AUD,AU,Ecommerce,Settled,True,0,2015-10-31 23:57:46,APACAccount,93608.0,93608.0,93608.0
239726,412632,2015-11-03 17:47:38,GB,visadebit,492181.0,8395.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:57:52,UKAccount,155984.0,155984.0,155984.0
239727,412633,2015-11-03 17:17:57,GB,visadebit,465859.0,4395.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:58:49,UKAccount,228628.0,228628.0,228628.0
239728,412634,2015-11-03 17:17:57,GB,visadebit,476367.0,5895.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:58:50,UKAccount,147469.0,147469.0,147469.0
239730,412636,2015-11-04 01:06:37,GB,visadebit,465943.0,4220.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:59:12,UKAccount,10313.0,10313.0,10313.0

In [17]:
df.reset_index(drop = True, inplace = True)

In [18]:
conversion = {'AUD': 0.699165, 'GBP': 1.31061, 'MXN': 0.222776586, 'NZD': 0.66152, 'SEK': 0.104405}

df['amount'] = df.apply(lambda e: e['amount'] * conversion[e['currencycode']], axis=1)

In [19]:
df.head()

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,201445,2015-07-01 22:57:05,GB,visadebit,465944.0,6677.55795,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:41,UKAccount,258032.0,258032.0,258032.0
1,201446,2015-07-01 22:49:20,GB,visadebit,492181.0,6415.43595,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:42,UKAccount,75334.0,75334.0,75334.0
2,201447,2015-07-01 22:57:06,GB,visadebit,446238.0,6153.31395,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:48,UKAccount,295389.0,295389.0,295389.0
3,201449,2015-07-01 22:57:05,GB,visadebit,475130.0,7332.86295,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:00:58,UKAccount,19248.0,19248.0,19248.0
4,201450,2015-07-01 22:57:06,GB,visadebit,465902.0,9167.71695,GBP,GB,Ecommerce,Settled,True,1,2015-07-01 00:01:11,UKAccount,269209.0,269209.0,269209.0

In [20]:
df.tail()

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
223167,96128,2015-11-02 05:07:44,AU,visabusiness,455704.0,3530.78325,AUD,AU,Ecommerce,Settled,True,0,2015-10-31 23:57:46,APACAccount,93608.0,93608.0,93608.0
223168,412632,2015-11-03 17:47:38,GB,visadebit,492181.0,11002.57095,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:57:52,UKAccount,155984.0,155984.0,155984.0
223169,412633,2015-11-03 17:17:57,GB,visadebit,465859.0,5760.13095,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:58:49,UKAccount,228628.0,228628.0,228628.0
223170,412634,2015-11-03 17:17:57,GB,visadebit,476367.0,7726.04595,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:58:50,UKAccount,147469.0,147469.0,147469.0
223171,412636,2015-11-04 01:06:37,GB,visadebit,465943.0,5530.77420,GBP,GB,Ecommerce,Settled,True,1,2015-10-31 23:59:12,UKAccount,10313.0,10313.0,10313.0

In [21]:
df.drop(["txid", "bookingdate"], inplace = True, axis = 1)
df.replace({'simple_journal': {"Settled": 0, "Chargeback": 1}}, inplace = True)

columns = ["creationdate", "card_id", "mail_id", "ip_id", "issuercountrycode", "txvariantcode", 
           "bin", "shoppercountrycode", "shopperinteraction", "cardverificationcodesupplied", 
           "cvcresponsecode", "accountcode", "amount", "currencycode", "simple_journal"]

df = df[columns]
df.rename(columns = {'simple_journal': 'label'}, inplace = True)

In [22]:
df.mail_id = pd.Categorical(df.mail_id).codes
df.ip_id = pd.Categorical(df.ip_id).codes
df.card_id = pd.Categorical(df.card_id).codes

In [23]:
df.head()

,creationdate,card_id,mail_id,ip_id,issuercountrycode,txvariantcode,bin,shoppercountrycode,shopperinteraction,cardverificationcodesupplied,cvcresponsecode,accountcode,amount,currencycode,label
0,2015-07-01 00:00:41,147166,147166,147166,GB,visadebit,465944.0,GB,Ecommerce,True,1,UKAccount,6677.55795,GBP,0
1,2015-07-01 00:00:42,43166,43166,43166,GB,visadebit,492181.0,GB,Ecommerce,True,1,UKAccount,6415.43595,GBP,0
2,2015-07-01 00:00:48,168293,168293,168293,GB,visadebit,446238.0,GB,Ecommerce,True,1,UKAccount,6153.31395,GBP,0
3,2015-07-01 00:00:58,11201,11201,11201,GB,visadebit,475130.0,GB,Ecommerce,True,1,UKAccount,7332.86295,GBP,0
4,2015-07-01 00:01:11,153398,153398,153398,GB,visadebit,465902.0,GB,Ecommerce,True,1,UKAccount,9167.71695,GBP,0

In [24]:
df.columns

Index(['creationdate', 'card_id', 'mail_id', 'ip_id', 'issuercountrycode',
       'txvariantcode', 'bin', 'shoppercountrycode', 'shopperinteraction',
       'cardverificationcodesupplied', 'cvcresponsecode', 'accountcode',
       'amount', 'currencycode', 'label'],
      dtype='object')

In [25]:
numeric_df = df[['amount', 'label', 'cardverificationcodesupplied']]

In [26]:
# from plot_utils import create_heat_map

In [27]:
#corr = numeric_df.corr()
#corr
# create_heat_map('', numeric_df, '', logger)

In [28]:
#from collections import Counter

#occ = Counter(df.card_id.values)

In [29]:
from card_tracker import extract_feature

a = df[0:500]
_hash = {}

features = a.apply(lambda e: extract_feature(e, _hash), axis=1)

In [30]:
from collections import Counter

occ = Counter(df.card_id.values)

occ.most_common()

[(122956, 105),
 (101097, 100),
 (152098, 73),
 (100934, 71),
 (135979, 70),
 (42971, 52),
 (185732, 48),
 (133564, 39),
 (134952, 36),
 (110468, 34),
 (144251, 30),
 (70810, 28),
 (69735, 25),
 (176711, 24),
 (75468, 22),
 (183604, 22),
 (59172, 22),
 (75051, 21),
 (186735, 20),
 (22041, 20),
 (97314, 19),
 (84155, 18),
 (191370, 18),
 (129428, 18),
 (112059, 17),
 (88183, 17),
 (97304, 17),
 (162960, 16),
 (119516, 16),
 (150691, 16),
 (39170, 16),
 (140664, 15),
 (168043, 15),
 (13532, 15),
 (185075, 15),
 (117360, 14),
 (38113, 14),
 (110280, 14),
 (97244, 14),
 (196064, 14),
 (97303, 14),
 (104298, 13),
 (167767, 13),
 (73788, 13),
 (191088, 13),
 (150961, 13),
 (195667, 13),
 (1846, 13),
 (78447, 13),
 (171483, 13),
 (116308, 13),
 (82807, 12),
 (128378, 12),
 (129037, 12),
 (25439, 12),
 (125383, 12),
 (112391, 11),
 (35940, 11),
 (46040, 11),
 (44517, 11),
 (105717, 11),
 (161616, 11),
 (72152, 11),
 (134627, 11),
 (2061, 11),
 (72301, 11),
 (118686, 11),
 (22763, 11),
 (97306, 11),
 (55165, 10),
 (175757, 10),
 (51645, 10),
 (48569, 10),
 (75633, 10),
 (2090, 10),
 (146076, 10),
 (177570, 10),
 (175615, 10),
 (83003, 10),
 (185734, 10),
 (103335, 10),
 (123458, 9),
 (133184, 9),
 (145516, 9),
 (94584, 9),
 (169762, 9),
 (45327, 9),
 (127557, 9),
 (55631, 9),
 (99483, 9),
 (10613, 9),
 (105865, 9),
 (185729, 9),
 (185735, 9),
 (101099, 9),
 (38532, 9),
 (1719, 9),
 (140881, 8),
 (73839, 8),
 (184769, 8),
 (144260, 8),
 (16582, 8),
 (13392, 8),
 (108560, 8),
 (138673, 8),
 (133220, 8),
 (57297, 8),
 (52694, 8),
 (131847, 8),
 (183208, 8),
 (184046, 8),
 (146519, 8),
 (64337, 8),
 (148061, 8),
 (184542, 8),
 (62719, 8),
 (98259, 8),
 (44982, 8),
 (195933, 8),
 (37157, 8),
 (129307, 8),
 (127361, 8),
 (63692, 8),
 (68776, 8),
 (37966, 8),
 (175372, 8),
 (33802, 8),
 (23158, 8),
 (174313, 8),
 (1060, 8),
 (128813, 8),
 (139169, 8),
 (185728, 8),
 (48138, 7),
 (26206, 7),
 (61694, 7),
 (105191, 7),
 (36426, 7),
 (2180, 7),
 (190747, 7),
 (47866, 7),
 (27396, 7),
 (133574, 7),
 (58673, 7),
 (154436, 7),
 (177102, 7),
 (132411, 7),
 (195569, 7),
 (49141, 7),
 (101407, 7),
 (77297, 7),
 (13758, 7),
 (5570, 7),
 (189850, 7),
 (188317, 7),
 (186051, 7),
 (15659, 7),
 (92695, 7),
 (13011, 7),
 (162260, 7),
 (179177, 7),
 (42982, 7),
 (188206, 7),
 (94378, 7),
 (48435, 7),
 (177284, 7),
 (144666, 7),
 (14294, 7),
 (44621, 7),
 (83029, 7),
 (173911, 7),
 (152141, 7),
 (138692, 7),
 (161213, 7),
 (6761, 7),
 (148022, 7),
 (119171, 7),
 (21884, 7),
 (175977, 7),
 (26410, 7),
 (38219, 7),
 (183167, 7),
 (195227, 7),
 (56559, 7),
 (116441, 7),
 (100933, 7),
 (5564, 6),
 (110206, 6),
 (24803, 6),
 (150226, 6),
 (71590, 6),
 (160719, 6),
 (84870, 6),
 (185099, 6),
 (155028, 6),
 (47046, 6),
 (110082, 6),
 (38413, 6),
 (145559, 6),
 (85557, 6),
 (156188, 6),
 (101257, 6),
 (156335, 6),
 (24794, 6),
 (41442, 6),
 (180978, 6),
 (194470, 6),
 (26359, 6),
 (134028, 6),
 (150368, 6),
 (176874, 6),
 (33562, 6),
 (24589, 6),
 (112217, 6),
 (5041, 6),
 (14834, 6),
 (69610, 6),
 (160712, 6),
 (83285, 6),
 (44832, 6),
 (176264, 6),
 (32226, 6),
 (104677, 6),
 (173641, 6),
 (116452, 6),
 (196075, 6),
 (48885, 6),
 (77951, 6),
 (176683, 6),
 (139985, 6),
 (29674, 6),
 (191420, 6),
 (60406, 6),
 (178351, 6),
 (152018, 6),
 (161551, 6),
 (111124, 6),
 (196714, 6),
 (96775, 6),
 (24049, 6),
 (63042, 6),
 (57282, 6),
 (183203, 6),
 (72698, 6),
 (164594, 6),
 (49371, 6),
 (84162, 6),
 (52577, 6),
 (105033, 6),
 (93003, 6),
 (149987, 6),
 (169218, 6),
 (85602, 6),
 (32420, 6),
 (185144, 6),
 (32377, 6),
 (173808, 6),
 (75310, 6),
 (177684, 6),
 (113743, 6),
 (12775, 6),
 (89043, 6),
 (66659, 6),
 (177936, 6),
 (25038, 6),
 (12548, 6),
 (158742, 6),
 (137048, 6),
 (147746, 6),
 (46447, 6),
 (18989, 6),
 (132929, 6),
 (197022, 6),
 (77853, 6),
 (183064, 6),
 (171902, 6),
 (75204, 6),
 (178336, 6),
 (101969, 6),
 (26232, 6),
 (171837, 6),
 (85099, 6),
 (111316, 6),
 (177309, 6),
 (65059, 6),
 (180462, 6),
 (4862, 6),
 (83036, 6),
 (38774, 6),
 (145358, 6),
 (148274, 6),
 (21756, 6),
 (41608, 6),
 (66806, 6),
 (110761, 6),
 (156806, 6),
 (69714, 6),
 (182490, 6),
 (196232, 6),
 (31091, 6),
 (153699, 6),
 (159202, 6),
 (121530, 6),
 (131589, 6),
 (191213, 6),
 (31598, 6),
 (102561, 6),
 (51875, 6),
 (27155, 6),
 (21117, 6),
 (112640, 6),
 (185733, 6),
 (144847, 6),
 (87293, 6),
 (184818, 6),
 (30217, 6),
 (6011, 6),
 (104884, 6),
 (39071, 6),
 (52978, 6),
 (5299, 5),
 (143964, 5),
 (195484, 5),
 (170001, 5),
 (121286, 5),
 (162848, 5),
 (83000, 5),
 (148804, 5),
 (133102, 5),
 (100015, 5),
 (180415, 5),
 (121477, 5),
 (155596, 5),
 (13208, 5),
 (195980, 5),
 (187657, 5),
 (71295, 5),
 (51725, 5),
 (96862, 5),
 (193911, 5),
 (12733, 5),
 (5947, 5),
 (40289, 5),
 (140693, 5),
 (78434, 5),
 (93755, 5),
 (11294, 5),
 (17508, 5),
 (11624, 5),
 (60080, 5),
 (111538, 5),
 (2950, 5),
 (104925, 5),
 (124596, 5),
 (3311, 5),
 (3888, 5),
 (36372, 5),
 (132045, 5),
 (148395, 5),
 (141941, 5),
 (98341, 5),
 (156851, 5),
 (8864, 5),
 (7791, 5),
 (109759, 5),
 (97408, 5),
 (13733, 5),
 (183978, 5),
 (20789, 5),
 (170658, 5),
 (145665, 5),
 (65006, 5),
 (112651, 5),
 (153203, 5),
 (124297, 5),
 (45856, 5),
 (151957, 5),
 (62272, 5),
 (169997, 5),
 (26148, 5),
 (109977, 5),
 (148306, 5),
 (73668, 5),
 (17855, 5),
 (23790, 5),
 (102572, 5),
 (173376, 5),
 (140138, 5),
 (98874, 5),
 (137679, 5),
 (88472, 5),
 (173150, 5),
 (153310, 5),
 (20966, 5),
 (39531, 5),
 (44725, 5),
 (176074, 5),
 (171505, 5),
 (26369, 5),
 (153652, 5),
 (177668, 5),
 (176148, 5),
 (132397, 5),
 (163991, 5),
 (88702, 5),
 (48239, 5),
 (123081, 5),
 (92297, 5),
 (151630, 5),
 (171758, 5),
 (177305, 5),
 (135326, 5),
 (57574, 5),
 (193234, 5),
 (172765, 5),
 (69860, 5),
 (72639, 5),
 (35080, 5),
 (76952, 5),
 (160571, 5),
 (166881, 5),
 (5648, 5),
 (127751, 5),
 (173173, 5),
 (171741, 5),
 (158359, 5),
 (24629, 5),
 (134987, 5),
 (13075, 5),
 (145583, 5),
 (1126, 5),
 (123121, 5),
 (125418, 5),
 (42347, 5),
 (47674, 5),
 (89125, 5),
 (112218, 5),
 (165034, 5),
 (96999, 5),
 (17555, 5),
 (39012, 5),
 (31731, 5),
 (89153, 5),
 (14651, 5),
 (45404, 5),
 (96292, 5),
 (13664, 5),
 (49469, 5),
 (81777, 5),
 (165031, 5),
 (150074, 5),
 (95598, 5),
 (149596, 5),
 (173136, 5),
 (81383, 5),
 (46468, 5),
 (194019, 5),
 (168600, 5),
 (197245, 5),
 (187723, 5),
 (148100, 5),
 (178778, 5),
 (40434, 5),
 (2851, 5),
 (144812, 5),
 (25496, 5),
 (123945, 5),
 (29650, 5),
 (192650, 5),
 (10308, 5),
 (168580, 5),
 (29871, 5),
 (154988, 5),
 (150657, 5),
 (13656, 5),
 (68802, 5),
 (14986, 5),
 (66798, 5),
 (13626, 5),
 (794, 5),
 (122254, 5),
 (32729, 5),
 (96512, 5),
 (194585, 5),
 (106415, 5),
 (11402, 5),
 (157803, 5),
 (190188, 5),
 (159324, 5),
 (59161, 5),
 (192187, 5),
 (138884, 5),
 (87267, 5),
 (32777, 5),
 (2389, 5),
 (103417, 5),
 (76823, 5),
 (94248, 5),
 (63847, 5),
 (74776, 5),
 (106872, 5),
 (76312, 5),
 (66131, 5),
 (160916, 5),
 (77572, 5),
 (123440, 5),
 (61075, 5),
 (170722, 5),
 (157849, 5),
 (33973, 5),
 (192176, 5),
 (173568, 5),
 (121892, 5),
 (151713, 5),
 (99908, 5),
 (180386, 5),
 (92106, 5),
 (133620, 5),
 (37487, 5),
 (179368, 5),
 (138517, 5),
 (98824, 5),
 (6595, 5),
 (143766, 5),
 (32332, 5),
 (120119, 5),
 (39785, 5),
 (88332, 5),
 (169826, 5),
 (145650, 5),
 (106150, 5),
 (16866, 5),
 (139690, 5),
 (165855, 5),
 (185731, 5),
 (185730, 5),
 (52895, 5),
 (10320, 5),
 (1358, 5),
 (46226, 5),
 (177893, 5),
 (160157, 5),
 (133954, 5),
 (177370, 5),
 (58840, 5),
 (12135, 5),
 (177575, 5),
 (75517, 5),
 (73815, 5),
 (34084, 5),
 (186940, 5),
 (62668, 5),
 (54453, 5),
 (12381, 5),
 (3919, 5),
 (154419, 5),
 (52402, 5),
 (136145, 5),
 (58144, 5),
 (31575, 5),
 (100531, 5),
 (85089, 5),
 (181092, 5),
 (50545, 5),
 (127687, 5),
 (123297, 5),
 (12318, 5),
 (121857, 5),
 (139161, 5),
 (104922, 5),
 (148101, 5),
 (184838, 5),
 (101127, 5),
 (46717, 5),
 (101205, 5),
 (155562, 5),
 (1487, 5),
 (84511, 5),
 (144366, 5),
 (174936, 5),
 (151698, 5),
 (145237, 5),
 (56900, 5),
 (186228, 5),
 (80543, 5),
 (25137, 5),
 (40717, 5),
 (85022, 5),
 (196098, 5),
 (2908, 5),
 (17143, 5),
 (127717, 5),
 (83184, 5),
 (51039, 5),
 (50977, 5),
 (1193, 5),
 (176658, 5),
 (164599, 5),
 (66813, 4),
 (153678, 4),
 (428, 4),
 (64523, 4),
 (163445, 4),
 (102252, 4),
 (92120, 4),
 (110472, 4),
 (141848, 4),
 (95424, 4),
 (55289, 4),
 (42839, 4),
 (140976, 4),
 (30569, 4),
 (187388, 4),
 (189847, 4),
 (151743, 4),
 (140703, 4),
 (145267, 4),
 (151975, 4),
 (153235, 4),
 (85653, 4),
 (118645, 4),
 (128894, 4),
 (157971, 4),
 (176345, 4),
 (144716, 4),
 (79281, 4),
 (146082, 4),
 (3823, 4),
 (92143, 4),
 (5484, 4),
 (151906, 4),
 (25363, 4),
 (53788, 4),
 (28466, 4),
 (37738, 4),
 (119869, 4),
 (180368, 4),
 (13507, 4),
 (196908, 4),
 (40594, 4),
 (52314, 4),
 (25015, 4),
 (101956, 4),
 (20415, 4),
 (33309, 4),
 (172625, 4),
 (195652, 4),
 (141054, 4),
 (15997, 4),
 (165965, 4),
 (47753, 4),
 (147198, 4),
 (178041, 4),
 (193520, 4),
 (40629, 4),
 (60150, 4),
 (91855, 4),
 (155975, 4),
 (19144, 4),
 (161919, 4),
 (79302, 4),
 (7205, 4),
 (25983, 4),
 (3939, 4),
 (90520, 4),
 (176597, 4),
 (139374, 4),
 (79459, 4),
 (129973, 4),
 (156132, 4),
 (78121, 4),
 (117947, 4),
 (181964, 4),
 (89944, 4),
 (170426, 4),
 (175985, 4),
 (123209, 4),
 (130597, 4),
 (48641, 4),
 (189022, 4),
 (119533, 4),
 (169348, 4),
 (176131, 4),
 (34500, 4),
 (135817, 4),
 (141609, 4),
 (170171, 4),
 (183089, 4),
 (159259, 4),
 (6923, 4),
 (180169, 4),
 (76389, 4),
 (104315, 4),
 (16886, 4),
 (38118, 4),
 (27979, 4),
 (171582, 4),
 (36965, 4),
 (161931, 4),
 (166970, 4),
 (45917, 4),
 (106581, 4),
 (130533, 4),
 (141631, 4),
 (38318, 4),
 (161326, 4),
 (129038, 4),
 (3973, 4),
 (148810, 4),
 (30455, 4),
 (160554, 4),
 (88612, 4),
 (63313, 4),
 (76221, 4),
 (66370, 4),
 (72038, 4),
 (136593, 4),
 (109164, 4),
 (20416, 4),
 (75004, 4),
 (86462, 4),
 (115524, 4),
 (48675, 4),
 (172090, 4),
 (67285, 4),
 (195778, 4),
 (16809, 4),
 (23046, 4),
 (1676, 4),
 (3277, 4),
 (179094, 4),
 (125722, 4),
 (33333, 4),
 (125246, 4),
 (2349, 4),
 (58882, 4),
 (19486, 4),
 (178567, 4),
 (118801, 4),
 (114345, 4),
 (60270, 4),
 (61741, 4),
 (19877, 4),
 (177804, 4),
 (92015, 4),
 (138850, 4),
 (28229, 4),
 (134231, 4),
 (4333, 4),
 (171219, 4),
 (155435, 4),
 (48123, 4),
 (107303, 4),
 (67080, 4),
 (140838, 4),
 (7689, 4),
 (171473, 4),
 (44568, 4),
 (134299, 4),
 (106755, 4),
 (23605, 4),
 (176083, 4),
 (93822, 4),
 (161093, 4),
 (141827, 4),
 (161787, 4),
 (91320, 4),
 (180028, 4),
 (81852, 4),
 (106493, 4),
 (165929, 4),
 (11656, 4),
 (35485, 4),
 (102607, 4),
 (49276, 4),
 (157450, 4),
 (114106, 4),
 (150953, 4),
 (147238, 4),
 (112973, 4),
 (43002, 4),
 (195907, 4),
 (135830, 4),
 (58095, 4),
 (144838, 4),
 (61330, 4),
 (172245, 4),
 (122903, 4),
 (172729, 4),
 (129067, 4),
 (55298, 4),
 (8939, 4),
 (50117, 4),
 (50002, 4),
 (51554, 4),
 (75221, 4),
 (150431, 4),
 (170064, 4),
 (1286, 4),
 (67978, 4),
 (67062, 4),
 (170771, 4),
 (140371, 4),
 (109985, 4),
 (166657, 4),
 (10351, 4),
 (196387, 4),
 (21423, 4),
 (170285, 4),
 (10206, 4),
 (9994, 4),
 (149754, 4),
 (36706, 4),
 (22962, 4),
 (181347, 4),
 (63279, 4),
 (24717, 4),
 (175898, 4),
 (152326, 4),
 (12633, 4),
 (82256, 4),
 (76200, 4),
 (39808, 4),
 (98058, 4),
 (100952, 4),
 (130369, 4),
 (60448, 4),
 (155670, 4),
 (187845, 4),
 (67107, 4),
 (88169, 4),
 (72474, 4),
 (80830, 4),
 (133316, 4),
 (7653, 4),
 (166434, 4),
 (8808, 4),
 (149549, 4),
 (191785, 4),
 (59925, 4),
 (64918, 4),
 (125930, 4),
 (51338, 4),
 (124479, 4),
 (181957, 4),
 (75075, 4),
 (114555, 4),
 (62467, 4),
 (19594, 4),
 (171188, 4),
 (130211, 4),
 (29882, 4),
 (78522, 4),
 (189857, 4),
 (64277, 4),
 (51096, 4),
 (115650, 4),
 (104313, 4),
 (107301, 4),
 (168728, 4),
 (16485, 4),
 (79242, 4),
 (94201, 4),
 (168644, 4),
 (138764, 4),
 (194669, 4),
 (65788, 4),
 (62669, 4),
 (155211, 4),
 (83496, 4),
 (146833, 4),
 (125478, 4),
 (68845, 4),
 (47697, 4),
 (19256, 4),
 (80200, 4),
 (74529, 4),
 (35382, 4),
 (22576, 4),
 (78031, 4),
 (142873, 4),
 (62483, 4),
 (5312, 4),
 (98009, 4),
 (126353, 4),
 (71250, 4),
 (115672, 4),
 (117225, 4),
 (108576, 4),
 (116799, 4),
 (76089, 4),
 (128018, 4),
 (175947, 4),
 (96278, 4),
 (157759, 4),
 (28452, 4),
 (138394, 4),
 (88720, 4),
 (162226, 4),
 (168664, 4),
 (105952, 4),
 (19705, 4),
 (17896, 4),
 (191136, 4),
 (7032, 4),
 (126371, 4),
 (69638, 4),
 (147179, 4),
 (124559, 4),
 (31500, 4),
 (163109, 4),
 (164806, 4),
 (166053, 4),
 (107249, 4),
 (68212, 4),
 (105555, 4),
 (114883, 4),
 (45290, 4),
 (113710, 4),
 (36063, 4),
 (36770, 4),
 (148955, 4),
 (94153, 4),
 (188075, 4),
 (20181, 4),
 (160832, 4),
 (36471, 4),
 (177255, 4),
 (20314, 4),
 (190676, 4),
 (36736, 4),
 (184264, 4),
 (152465, 4),
 (57980, 4),
 (151233, 4),
 (74978, 4),
 (45468, 4),
 (16459, 4),
 (35221, 4),
 (37844, 4),
 (130049, 4),
 (175674, 4),
 (145032, 4),
 (89296, 4),
 (6221, 4),
 (134835, 4),
 (149710, 4),
 (80466, 4),
 (131560, 4),
 (170638, 4),
 (53635, 4),
 (140903, 4),
 (149410, 4),
 (72359, 4),
 (64160, 4),
 (133474, 4),
 (126706, 4),
 (31751, 4),
 (96986, 4),
 (84695, 4),
 (22317, 4),
 (161382, 4),
 (68824, 4),
 (120096, 4),
 (57349, 4),
 (181086, 4),
 (25517, 4),
 (97814, 4),
 (18973, 4),
 (64440, 4),
 (81213, 4),
 (67866, 4),
 (56840, 4),
 (16670, 4),
 (49842, 4),
 (23928, 4),
 (160882, 4),
 (191290, 4),
 (181509, 4),
 (185990, 4),
 (72466, 4),
 (147835, 4),
 (9553, 4),
 (112649, 4),
 (152675, 4),
 (74810, 4),
 (102603, 4),
 (184387, 4),
 (83281, 4),
 (154215, 4),
 (37621, 4),
 (73156, 4),
 (31327, 4),
 (101282, 4),
 (33489, 4),
 (173285, 4),
 (91968, 4),
 (120364, 4),
 (24072, 4),
 (153916, 4),
 ...]

In [31]:
v = df.loc[df['card_id'] == 122956]

In [32]:
v

,creationdate,card_id,mail_id,ip_id,issuercountrycode,txvariantcode,bin,shoppercountrycode,shopperinteraction,cardverificationcodesupplied,cvcresponsecode,accountcode,amount,currencycode,label
143619,2015-09-16 11:11:31,122956,122956,122956,GB,mccredit,556951.0,GB,Ecommerce,True,1,UKAccount,9036.65595,GBP,0
151719,2015-09-21 11:37:46,122956,122956,122956,GB,mccredit,556951.0,GB,Ecommerce,True,1,UKAccount,9036.65595,GBP,0
151729,2015-09-21 11:44:50,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151739,2015-09-21 11:50:49,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151759,2015-09-21 12:02:37,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151776,2015-09-21 12:15:13,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151788,2015-09-21 12:21:13,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151802,2015-09-21 12:26:28,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151834,2015-09-21 12:44:25,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151848,2015-09-21 12:52:23,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151873,2015-09-21 13:07:01,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151924,2015-09-21 13:29:40,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151929,2015-09-21 13:31:35,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
151958,2015-09-21 13:41:32,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152014,2015-09-21 14:03:55,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152087,2015-09-21 14:25:42,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152145,2015-09-21 14:38:34,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152211,2015-09-21 14:59:17,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152242,2015-09-21 15:04:29,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152289,2015-09-21 15:15:50,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152383,2015-09-21 15:40:34,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152412,2015-09-21 15:51:33,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152437,2015-09-21 15:57:51,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152455,2015-09-21 16:07:46,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152475,2015-09-21 16:15:34,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
152518,2015-09-21 16:32:04,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
154520,2015-09-22 12:26:47,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
154542,2015-09-22 12:36:27,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
154556,2015-09-22 12:42:25,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
154572,2015-09-22 12:49:18,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183712,2015-10-08 10:24:25,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
183776,2015-10-08 10:32:58,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184052,2015-10-08 11:17:37,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184230,2015-10-08 11:45:42,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184417,2015-10-08 12:16:25,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184525,2015-10-08 12:30:46,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184693,2015-10-08 12:59:08,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184786,2015-10-08 13:12:10,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184858,2015-10-08 13:21:44,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
184944,2015-10-08 13:33:01,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
192562,2015-10-09 12:49:18,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
192623,2015-10-09 13:46:40,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
192709,2015-10-09 15:14:04,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
192725,2015-10-09 15:23:28,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
192844,2015-10-09 16:57:40,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202029,2015-10-16 12:31:36,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202037,2015-10-16 12:41:29,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202043,2015-10-16 12:48:21,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202053,2015-10-16 13:03:19,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202072,2015-10-16 13:24:28,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202082,2015-10-16 13:32:33,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202116,2015-10-16 14:10:15,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
202137,2015-10-16 14:37:34,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
207229,2015-10-20 11:57:19,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
207368,2015-10-20 14:38:40,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
215962,2015-10-27 12:03:29,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
215980,2015-10-27 12:14:56,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
215990,2015-10-27 12:22:59,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
216010,2015-10-27 12:30:26,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0
216053,2015-10-27 12:57:49,122956,122956,122956,GB,mccredit,556951.0,GB,ContAuth,False,0,UKAccount,9036.65595,GBP,0

In [33]:
_hash = {}

features = v.apply(lambda e: extract_feature(e, _hash), axis=1)

In [34]:
a = features.to_list()
len(a[-1])

9

In [35]:
# f = pd.DataFrame(features)

pd.DataFrame(features.to_list(), columns =[
        "Txn amount over month",
        "Average over 3 months",
        "Average daily over month",
        "Amount same day",
        "Number same day",
        "Amount currency type over month",
        "Number currency type over month",
        "Amount country type over month",
        "Number country type over month",
    ])
#vezi ca acu :) thx

,Txn amount over month,Average over 3 months,Average daily over month,Amount same day,Number same day,Amount currency type over month,Number currency type over month,Amount country type over month,Number country type over month
0,0.00000,0.000000,0.000000,0.000000e+00,0,0.00000,0,0.00000,0
1,9036.65595,753.054663,301.221865,0.000000e+00,0,9036.65595,1,9036.65595,1
2,9036.65595,1506.109325,602.443730,9.036656e+03,1,18073.31190,2,18073.31190,2
3,9036.65595,2259.163988,903.665595,1.807331e+04,2,27109.96785,3,27109.96785,3
4,9036.65595,3012.218650,1204.887460,2.710997e+04,3,36146.62380,4,36146.62380,4
5,9036.65595,3765.273312,1506.109325,3.614662e+04,4,45183.27975,5,45183.27975,5
6,9036.65595,4518.327975,1807.331190,4.518328e+04,5,54219.93570,6,54219.93570,6
7,9036.65595,5271.382637,2108.553055,5.421994e+04,6,63256.59165,7,63256.59165,7
8,9036.65595,6024.437300,2409.774920,6.325659e+04,7,72293.24760,8,72293.24760,8
9,9036.65595,6777.491963,2710.996785,7.229325e+04,8,81329.90355,9,81329.90355,9
10,9036.65595,7530.546625,3012.218650,8.132990e+04,9,90366.55950,10,90366.55950,10
11,9036.65595,8283.601287,3313.440515,9.036656e+04,10,99403.21545,11,99403.21545,11
12,9036.65595,9036.655950,3614.662380,9.940322e+04,11,108439.87140,12,108439.87140,12
13,9036.65595,9789.710613,3915.884245,1.084399e+05,12,117476.52735,13,117476.52735,13
14,9036.65595,10542.765275,4217.106110,1.174765e+05,13,126513.18330,14,126513.18330,14
15,9036.65595,11295.819938,4518.327975,1.265132e+05,14,135549.83925,15,135549.83925,15
16,9036.65595,12048.874600,4819.549840,1.355498e+05,15,144586.49520,16,144586.49520,16
17,9036.65595,12801.929262,5120.771705,1.445865e+05,16,153623.15115,17,153623.15115,17
18,9036.65595,13554.983925,5421.993570,1.536232e+05,17,162659.80710,18,162659.80710,18
19,9036.65595,14308.038587,5723.215435,1.626598e+05,18,171696.46305,19,171696.46305,19
20,9036.65595,15061.093250,6024.437300,1.716965e+05,19,180733.11900,20,180733.11900,20
21,9036.65595,15814.147912,6325.659165,1.807331e+05,20,189769.77495,21,189769.77495,21
22,9036.65595,16567.202575,6626.881030,1.897698e+05,21,198806.43090,22,198806.43090,22
23,9036.65595,17320.257237,6928.102895,1.988064e+05,22,207843.08685,23,207843.08685,23
24,9036.65595,18073.311900,7229.324760,2.078431e+05,23,216879.74280,24,216879.74280,24
25,9036.65595,18826.366562,7530.546625,2.168797e+05,24,225916.39875,25,225916.39875,25
26,9036.65595,19579.421225,7831.768490,1.626598e+05,18,234953.05470,26,234953.05470,26
27,9036.65595,20332.475887,8132.990355,1.716965e+05,19,243989.71065,27,243989.71065,27
28,9036.65595,21085.530550,8434.212220,1.807331e+05,20,253026.36660,28,253026.36660,28
29,9036.65595,21838.585212,8735.434085,1.807331e+05,20,262063.02255,29,262063.02255,29
...,...,...,...,...,...,...,...,...,...
75,9036.65595,56479.099688,22591.639875,3.614662e+04,4,677749.19625,75,614492.60460,68
76,9036.65595,57232.154350,22892.861740,4.518328e+04,5,686785.85220,76,623529.26055,69
77,9036.65595,57985.209013,23194.083605,5.421994e+04,6,695822.50815,77,632565.91650,70
78,9036.65595,58738.263675,23495.305470,6.325659e+04,7,704859.16410,78,641602.57245,71
79,9036.65595,59491.318338,23796.527335,7.229325e+04,8,713895.82005,79,650639.22840,72
80,9036.65595,60244.373000,24097.749200,8.132990e+04,9,722932.47600,80,659675.88435,73
81,9036.65595,60997.427663,24398.971065,9.036656e+04,10,731969.13195,81,668712.54030,74
82,9036.65595,61750.482325,24700.192930,9.940322e+04,11,741005.78790,82,677749.19625,75
83,9036.65595,62503.536988,25001.414795,1.084399e+05,12,750042.44385,83,686785.85220,76
84,9036.65595,63256.591650,25302.636660,1.174765e+05,13,759079.09980,84,695822.50815,77
85,9036.65595,64009.646313,25603.858525,3.614662e+04,4,768115.75575,85,704859.16410,78
86,9036.65595,64762.700975,25905.080390,9.036656e+03,1,777152.41170,86,713895.82005,79
87,9036.65595,65515.755638,26206.302255,1.807331e+04,2,786189.06765,87,722932.47600,80
88,9036.65595,66268.810300,26507.524120,2.710997e+04,3,795225.72360,88,731969.13195,81
89,9036.65595,67021.864963,26808.745985,3.614662e+04,4,804262.37955,89,741005.78790,82
90,9036.65595,67774.919625,26808.745985,1.455192e-11,0,804262.37955,89,741005.78790,82
91,9036.65595,68527.974288,27109.967850,9.036656e+03,1,813299.03550,90,750042.44385,83
92,9036.65595,69281.028950,27411.189715,1.807331e+04,2,822335.69145,91,759079.09980,84
93,9036.65595,70034.083613,27712.411580,2.710997e+04,3,831372.34740,92,768115.75575,85
94,9036.65595,70787.138275,28013.633445,3.614662e+04,4,840409.00335,93,777152.41170,86
95,9036.65595,71540.192938,28314.855310,4.518328e+04,5,849445.65930,94,786189.06765,87
96,9036.65595,72293.247600,28616.077175,5.421994e+04,6,858482.31525,95,795225.72360,88
97,9036.65595,73046.302263,28917.299040,6.325659e+04,7,867518.97120,96,804262.37955,89
98,9036.65595,73799.356925,29218.520905,1.455192e-11,0,876555.62715,97,813299.03550,90
99,9036.65595,74552.411588,29519.742770,9.036656e+03,1,885592.28310,98,822335.69145,91
100,9036.65595,75305.466250,15964.758845,1.455192e-11,0,478942.76535,53,478942.76535,53
101,9036.65595,76058.520913,16265.980710,9.036656e+03,1,487979.42130,54,487979.42130,54
102,9036.65595,76811.575575,16567.202575,1.807331e+04,2,497016.07725,55,497016.07725,55
103,9036.65595,77564.630238,16868.424440,2.710997e+04,3,506052.73320,56,506052.73320,56
104,9036.65595,78317.684900,17169.646305,3.614662e+04,4,515089.38915,57,515089.38915,57

NameError: name 'f' is not defined